<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>_wordjoineralt</key>
  <string>_wordjoineralt.glif</string>
  <key>cgj</key>
  <string>cgj.glif</string>
  <key>fourpmsp</key>
  <string>fourpmsp.glif</string>
  <key>lrmark</key>
  <string>lrmark.glif</string>
  <key>rlmark</key>
  <string>rlmark.glif</string>
  <key>sixpmsp</key>
  <string>sixpmsp.glif</string>
  <key>tab</key>
  <string>tab.glif</string>
  <key>threepmsp</key>
  <string>threepmsp.glif</string>
  <key>wordjoiner</key>
  <string>wordjoiner.glif</string>
  <key>zwj</key>
  <string>zwj.glif</string>
  <key>zwnj</key>
  <string>zwnj.glif</string>
</dict>
</plist>
